<section class="text-white">
    <div class="slideshow slide-in" style="height: 100vh;">
      <div class="swiper-wrapper">
        <div class="swiper-slide d-flex align-items-center"
          style="background-image:url('/Images/hero3.jpg');">
          <div class="banner-content w-100">
            <div class="container ">
              <div class="row ">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="section-title text-uppercase display-2 mt-5">Embrace Your Natural Glow</h2>
                    <p class="caption opacity-75">
                      Let your skin breathe this summer with our lightweight, natural-look makeup. Perfect for sunny days and effortless beauty.
                    </p>
                  <div class="btn-left btn-swiper">
                    <a href="/Shop" class="btn btn-light text-white bg-transparent text-uppercase mt-3">Shop Collection</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide d-flex align-items-center"
          style="background-image:url('/Images/hero4.jpg');">
          <div class="banner-content w-100">
            <div class="container ">
              <div class="row ">
                <div class="col-md-8 offset-md-2 text-center ">
                    <h2 class="section-title text-uppercase display-2 mt-5">Bold Colors. Bright Confidence.</h2>
                    <p class="caption opacity-75">
                      Make a statement with vivid lips and glowing cheeks. Explore our vibrant summer collection made to turn heads.
                    </p>
                  <div class="btn-left btn-swiper">
                    <a href="/Shop" class="btn btn-light text-white bg-transparent text-uppercase mt-3">Shop Collection</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide d-flex align-items-center"
          style="background-image:url( '/Images/hero2.jpg');">
          <div class="banner-content w-100">
            <div class="container ">
              <div class="row ">
                <div class="col-md-8 offset-md-2 text-center ">
                    <h2 class="section-title text-uppercase display-2 mt-5">Glam That Lasts All Day</h2>
                    <p class="caption opacity-75">
                      From sunrise to sunset, stay flawless with our long-wear makeup essentials designed for heat, humidity, and every moment in between.
                    </p>
                  <div class="btn-left btn-swiper">
                    <a href="/Shop" class="btn btn-light text-white bg-transparent text-uppercase mt-3">Shop Collection</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-slideshow "></div>

      <!-- <i class="icon-arrow  light-arrow icon-arrow-left"></i>
      <i class="icon-arrow  light-arrow icon-arrow-right"></i> -->
    </div>
  </section>
