.navbar .nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1d1d35;
    margin: 0 3px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

}
.navbar{
    /* background-color: #fff4f4ef!important; */
    margin-bottom: 35px !important;
}
 
.navbar .nav-link:hover,
.navbar .nav-link.active {
    background-color: #ffeaea;
    color: #D49696 !important;
    border-radius: 20px;
}

.navbar .nav-link i {
    font-size: 1.3rem;
}
.logout:hover{
    cursor: pointer;
}