.review-slider {
    position: relative;
    padding: 45px;
    margin-bottom: 32px !important;
  }
  
  .review-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
  }

  .product-card {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 280px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    text-align: center;
    position: relative;
  }

  .wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
  z-index: 10;
}

.wishlist-btn:focus {
  outline: none;
} 

  .product-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .product-card .btn-cart {
    margin-top: auto;
    padding: 8px 16px;
    background-color:  #D49696 ;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pink-text {
    color: #e91e63;  
  }
  .heder-text{
    font-size: 40px;
    color: #D49696;  
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    align-items: center;
  }
  .product-card .btn-cart:hover {
    background-color: #bf7e7e;
  }
  
  .product-card img{
    width: auto;
    align-items: center;
    margin: auto;


  }
  .controls {
    position: absolute;
    top: 64%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 10;
  }
  
  .arrow-btn {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    
  }
  
  .arrow-btn:hover {
    background: #D49696 ;
  }
  
  .fa-star {
    color: #ccc;
  }
  
  .checked {
    color: gold;
  }
  
  /* Responsive breakpoints */
  @media (max-width: 992px) {
    .product-card {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .product-card{
      flex: 1 1 100%;
    }
  
    .controls {
      top: auto;
      bottom: -30px;
      transform: none;
      justify-content: center;
      gap: 40px;
    }
  }
  