<div class="review-slider">
  <div class="controls">
    <button class="arrow-btn" (click)="prevBatch()">
      <i class="fa fa-chevron-left"></i>
    </button>

    <button class="arrow-btn" (click)="nextBatch()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>

  <h1 class="heder-text">Best Seller</h1>
  
  <div *ngIf="isLoading" class="loading-spinner">
    Loading products...
  </div>

  <div class="review-list" *ngIf="!isLoading">
    <div *ngFor="let product of currentBatch" class="product-card">
      <button class="wishlist-btn" (click)="addtowish(product.id)">
        <i [ngClass]="(wishService.wishlist$ | async)?.includes(product.id) 
                   ? 'bi bi-heart-fill pink-text' 
                   : 'bi bi-heart'"></i>
      </button>
      
      <img [src]="product.api_featured_image" alt="{{product.name}}">
      <h3>{{ product.name }}</h3>
      <h3>{{ product.brand }}</h3>
    
      <button class="btn-cart" (click)="addtobag(product.id)">Add to Cart</button>
    </div>
  </div>
</div>