/* Main grid layout */
.wishlist-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

/* Card hover effect */
.wishlist-item {
    transition: all 0.3s ease;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.wishlist-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

/* Image container */
.wishlist-image {
    /* background-color: #f8f9fa; */
    object-fit: cover;
}

/* Remove button styling */
.remove-from-wishlist svg {
    height: 30px;
    width: 30px;
    padding: 0.2em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
    fill: #000;
}

.remove-from-wishlist:hover svg {
    /* background-color: #D49696; */
    background-color: #ffeaea;
    transform: scale(1.2);
}

/* Product info */
.wishlist-info__product-name {
    font-weight: 400;
    margin: 0 0 0.65em;
    font-size: 1rem;
    line-height: 1.4;
}

.add-to-bag{
    background-color: #ffeaea;
    border-color:  #D49696;
    color:  #000000;

}

/* Responsive grid */
@media (min-width: 320px) {
    .wishlist-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .wishlist-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }
    
    .remove-from-wishlist svg {
        height: 36px;
        width: 36px;
    }

}