<div class="navbar-container">
  <div class="navbar-header">
    <div class="must-have">YOU CAN</div>
    <h1 class="makeup-title">MAKEUP</h1>
  </div>
  
  <div class="categories">
    <div class="category" [class.active]="activeCategory === category.name" *ngFor="let category of categories" (click)="navigateToCategory(category.types,category.name)">
      <img [src]="category.image" [alt]="category.name" class="category-image">
      <div class="category-name">{{category.name}}</div>
    </div>
  </div>
</div>
