.rating-comment-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('/Images/back6.jpg')
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.star-rating {
  margin: 20px 0;
  font-size: 2rem;
}

.star-rating span {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.star-rating span.filled {
  color: #e89292;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: #ebb0eb95;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

button:hover {
  background-color: y#928c8f;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}